<div class="page-wrapper">

  <div class="page-container">
      <!-- HEADER DESKTOP-->
      <header [ngClass]="{
        'header-desktop': isLoggedIn,
        'header-desktop-lo': !isLoggedIn
      }" >

          <div class="section-content section-content-p30">
              <div class="container-fluid">
                  <nav class="navbar navbar-expand ">

                      <ul class="navbar-nav" routerLinkActive="active">
                        <li >
                         <!-- <a href="/home" class="nav-link buttons"  *ngIf="isLoggedIn" routerLink="home">  Home </a>-->
                        </li>

                        <li class="nav-item" *ngIf="showAdminBoard">
                          <a href="/admin" class="nav-link buttons" routerLink="admin">Dashboard</a>
                        </li>
                        <li>
                          <div class="header-wrap"  *ngIf="isLoggedIn">
                              <app-search></app-search>

                              <app-cart-status></app-cart-status>
                          </div>
                      </li>
                      </ul>

                      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">


                        <li class="nav-item">
                          <a href="/register" class="nav-link button" routerLink="register">Sign Up</a>
                        </li>
                        <li class="nav-item">
                          <a href="/login" class="nav-link button" routerLink="login">Login</a>
                        </li>
                      </ul>

                      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
                        <li class="nav-item">
                          <a href="/profile" class="nav-link buttons" routerLink="profile">{{ name }}</a>
                        </li>
                        <li class="nav-item">
                          <a href class="nav-link buttons" (click)="logout()">LogOut</a>
                        </li>
                      </ul>
                    </nav>

                  <div class="account-wrap"></div>
              </div>
          </div>
      </header>
      <!-- END HEADER DESKTOP-->

      <!-- MAIN CONTENT-->

      <router-outlet></router-outlet>

     <!-- MENU SIDEBAR-->
     <aside class="menu-sidebar d-none d-lg-block"  *ngIf="isLoggedIn">
      <div class="logo">
          <a href="home.html">
              <img src="assets/images/logo.png" alt="onlineshopping" class="logo-responsive">
          </a>
      </div>
      <div class="menu-sidebar-content js-scrollbar1">
          <nav class="navbar-sidebar">
              <ul class="list-unstyled navbar-list">
                <li>
                  <a routerLink="/category/4" routerLinkActive="active-link">All Items</a>
              </li>
                <li>
                  <a routerLink="/category/1" routerLinkActive="active-link">Ball</a>
              </li>
              <li>
                  <a routerLink="/category/2" routerLinkActive="active-link">Bag</a>
              </li>
              <li>
                  <a routerLink="/category/3" routerLinkActive="active-link">Book</a>
              </li>

              <!-- <li>
                  <a href="#">Other</a>
              </li> -->
              </ul>
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>
          </nav>
      </div>
  </aside>
  <!-- END MENU SIDEBAR-->

  </div>
  </div>



  <!-- END PAGE CONTAINER-->


  <footer>
      <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Help</a></li>
      </ul>
  </footer>
